/*--Google Font--*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.container .navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    overflow: hidden;
    transition: 0.5s;
}

.container .navigation.active{
    width: 60px;
}

.container .navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container .navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.container .navigation ul li:hover{
    background-color: #03a9f4;
}

.container .navigation ul li:nth-child(1){
    margin-bottom: 10px;
}

.container .navigation ul li:nth-child(1):hover{
    background: transparent;
}

.container .navigation ul li:nth-child(1) a .icon{
    font-size: 35px;
}

.container .navigation ul li a{
    position: relative;
    width: 100%;
    display: block;
    display: flex;
    color: #fff;
}

.container .navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.container .navigation ul li a .fas{
    color: #fff;
    font-size: 24px;
}

.container .navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.container #main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}

.container #main.active{
    width: calc(100% - 60px);
    left: 60px;
}

.container #main .header{
    width: 100%;
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.container #main .header .toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.container #main .header .toggle::before{
    content: "\f0c9";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #111;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
}

.container #main .header .search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.container #main .header .search label{
    position: relative;
    width: 100%;
}

.container #main .header .search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.container #main .header .search label .fas{
    position: absolute;
    left: 10px;
    top: 4px;
    font-size: 20px;
    color: #c5c4c4;
}

.container #main .header .user{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.container #main .header .user img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.container #main #cardbox{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px;
}

.container #main #cardbox .card{
    position: relative;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.container #main #cardbox .card .card-title .number{
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.container #main #cardbox .card .card-title .text{
    color: #999;
}

.container #main #cardbox .card .cardicon{
    font-size: 2.5em;
    color: #03a9f4;
}

.container #main #details{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}

.container #main #details .recent-order{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 20px;
}

.container #main #details .recent-order .details-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container #main #details .details-header h2{
    font-weight: 600;
}

.container #main #details .recent-order .details-header .details-btn{
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    border-radius: 6px;
}

.container #main #details .recent-order table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.container #main #details .recent-order table thead{
    font-weight: 600;
}

.container #main #details .recent-order table tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container #main #details .recent-order table tbody tr:last-child{
    border-bottom: none;
}

.container #main #details .recent-order table tbody tr:hover{
    background: #03a9f4;
    color: #fff;
}

.container #main #details .recent-order table tr td{
    padding: 9px 5px;
}

.container #main #details .recent-order table tr td:nth-child(2){
    text-align: right;
    padding-right: 20px;
}

.container #main #details .recent-order table tr td:nth-child(3){
    text-align: center;
}

.container #main #details .recent-order table tr td:last-child{
    text-align: right;
}

.container #main #details .recent-order table tr .status{
    position: relative;
    padding: 2px 4px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.container #main #details .recent-order table tr td span.delivered{
    background: #8be02c;
}

.container #main #details .recent-order table tr td span.pending{
    background: #f9ca3f;
}

.container #main #details .recent-order table tr td span.return{
    background: #f00;
}

.container #main #details .recent-order table tr td span.in-progress{
    background: #1795ce;
}

.container #main #details .recent-customer{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 20px;
}

.container #main #details .recent-customer table .img-box{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.container #main #details .recent-customer table .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container #main #details .recent-customer table{
    border-spacing: 0;
    width: 100%
}

.container #main #details .recent-customer table tr:hover,
.container #main #details .recent-customer table tr:hover td h4 span{
    background: #03a9f4;
    color: #fff;
}

.container #main #details .recent-customer table tr td{
    padding: 7px 10px;
}

.container #main #details .recent-customer table tr td:nth-child(1){
    width: 60px;
}

.container #main #details .recent-customer table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.container #main #details .recent-customer table tr td h4 span{
    font-size: 14px;
    color: #999
}


/*media Query*/
@media (max-width: 992px){
    .container.navigation{
        left: -300px;
    }

    .container .navigation.active{
        left: 0;
        width: 300px;
    }

    .container #main{
        width: 100%;
        left: 0px;
    }

    .container #main.active{
        width: calc(100% - 300px);
        left: 300px
    }

    .container #main #cardbox {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px){
    .container #main #details {
        grid-template-columns: repeat(1,1fr);
    }

    .container #main .header .search{
        width: 300px;
    }

    .container #main #cardbox .card .card-title .number{
        font-size: 1.5em;
    }

    .container #main #cardbox .card .cardicon{
        font-size: 2em;
    }

    .container #main #details .details-header h2{
        font-size: 18px;
    }
}

@media (max-width: 480px){
    .container #main #cardbox {
        grid-template-columns: repeat(1,1fr);
    }

    .container.navigation{
        left: -100%;
        width: 100%;
    }

    .container .navigation.active{
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .container #main,
    .container #main.active{
        width: 100%;
        left: 0;
    }

    .container #main .header .toggle.active{
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }

    .container #main .header .toggle.active::before{
        color: #fff;
    }

    .container #main .header .search{
        width: 150px;
    }

    .container #main .header .search label input{
        height: 35px;
        font-size: 14px;
    }

    .container #main #details .recent-order{
        overflow-x: auto;
    }

    .container #main #details .recent-order table{
        width: 500px;
    }
}
